[Unit]
Description=rbd Daemon
After=network.target
Wants=docker.service
Before=docker.service

[Service]
ExecStart=/usr/bin/rbd-docker-plugin -create -cluster xtao -config /etc/ceph/xtao.conf -use-nbd
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
